.section {
    background-color: #07060B;
    height: 680px;
}

.preview_content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 100px;
    height: 680px;
}

.group {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 50%;
}

.heading {
    color: #FFF;
    z-index: 1;
    -webkit-text-stroke: 1px #07060B;
}

.btn_buy {
    width: 176px !important;
    border: none !important;
    background: -webkit-linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%) !important;
}

.btn_author {
    height: 70px !important;
    width: 247px !important;
    justify-content: center;
    align-items: center;
    border: 5px solid  #46F4DB;
}
.text_buy {
    color: #07060B;
}
.text_author {
    color: #fff;
}

.stickers {
    max-width: none;
    height: 680px;
    width: 800px;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1390px) {
    .preview_content {
        gap: 10px;
        justify-content: space-between;
    }
    .section {
        overflow: hidden;
    }
    .heading {
        font-size: 60px;
    }
    .stickers {
        position: relative;
    }
}
@media screen and (max-width: 767px) {
    .section {
        height: 531px;
    }
    .heading {
        font-size: 35px;
    }
    .preview_content {
        flex-direction: column;
        padding: 12px 20px;
        row-gap: 20px;
    }
    .group {
        align-items: flex-start;
        flex-direction: column;
    }
    .btn_buy {
        width: 132px !important;
        height: 50px !important;
        padding: 0 0;
    }
    .btn_author {
        width: 164px !important;
        height: 50px !important;
        padding: 0 0;
    }
    .text_buy {
        font-size: 16px;
    }
    .text_author {
        font-size: 16px;
    }
    .stickers {
        max-width: none;
        top: 130px;
        height: 1200px;
        transform: rotate(90deg);
    }


}