.footer {
    background-color: #46F4DB;
    padding: 30px 0;
}
.content {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 75px;
    height: 30px;
}
.nav {
    display: flex;
    gap: 32px;
}
.navBtn {

}

@media screen and (max-width: 767px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 15px;
    }
    .nav {
        padding-top: 15px;
        border-top: 1px solid #07060B;
    }
    .navBtn {
        font-size: 16px;
    }
}